<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Select</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/addressSelect.css">
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light outer-nav">
        <a class="navbar-brand costa-logo" href="/ashion"><img src="/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-my-links" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/ashion">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/home?For=Men">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home?For=Women">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home?For=Kids">Kids</a>
                </li>
                
               
                <li class="nav-item ">
                    <% if(typeof isLogedIn!=='undefined'&& isLogedIn==="true") { %>
                    <a class="nav-link" href="/user/logout">logout</a>
                    <% }
                    else { %>
                        <a class="nav-link" href="/user/login">login</a>
                   <% } %>
                </li>
            </ul>
            
        </div>
        
    </nav>
    
   <div class="container">
    <div class="row mainRow">
        <div class="col-lg-9">
            <div class="leftDiv">
            
                <div class="addressHeading">
                    <div class="locationImg"><img src="/images/flag-france.png" alt=""></div>
                    <div class="headings">

                        <h4>Delivery Address</h4>
                        <p>We will deliver your order to this address</p>
                    </div>
                </div>

                <div class="address-card">  
                    
                    <% if(typeof address!=='undefined'){ %>
                    <div class="default"><span style="font-size: small; color: rgba(0, 0, 0, 0.626);">Default</span></div>
                    <div class="name"><%= address.name %></div>
                    <div class="house"><%= address.buildingName %>,<%= address.locality %></div>
                    <div class="landmark"> <%= address.landmark %></div>
                    <div class="district"><%= address.city %>,<%= address.state %></div>
                    <div class="pincode">India-<%= address.pincode %></div>
                    <div><p >Phone:<span class="phone"><%= address.mobile %></span></p></div>
                    <%}%>
                    <div class="buttons">
                        <a href="#" onclick="openChangeAddress()">Change</a>
                        <a href="#" style="margin-left: 20px;" onclick="openaddAddres()">Add New Address</a>
                        <a href="#" style="margin-left: 20px;" onclick="openEditAddress(<%= JSON.stringify(address) %>)"> Edit Address</a>
                    </div>
                    <hr>
                </div>
             
            </div>
        </div>
        <div class="col-lg-3">
            <div class="rightDiv">
                <div class=" summary">
                    <div class="mt-2"><h6><b>Order Details</b></h6></div>
                    <% if(typeof totalPrice!=='undefined'&&typeof totalSalePrice!=='undefined'){ %>
                    <div class="row mt-3">
                        <div class="col " >Bag Total</div>
                        <div class="col text-right">&#8377; <%= totalPrice %></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col" >Bag Discount</div>
                        <div class="col text-right">&#8377;<%= totalPrice-totalSalePrice %></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col" >Coupon Saving</div>
                        <div class="col text-right">&#8377;<%= couponSaving %></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Delivery Fee</div>
                        <div class="col text-right">&#8377;<span style="text-decoration: line-through;">99 </span><span style="color: green;font-weight: 600;">Free</span></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col" >Order Total</div>
                        <div class="col text-right">&#8377; <%= CouponAppliedPrice %></div>
                    </div>
                    
                   
                </div>
                <a href="/home/cart/proceedPayment?couponId=<%= couponId %>"><button class="proceedToPay-btn">PROCEED TO PAYMENT</button></a>
                <%}
                else { %>
                    <div>Empty</div>
                    <%}%>
            </div>
        </div>
    </div>
   </div>
   

   <div class="overlay" id="overlay"></div>

   <div class="changeaddress" id="changeaddress">
    <div><button type="button" class="btn-cancel" onclick="closeChangeAddress()"><img src="/images/icons8-cancel-100.png"></button></div>
    <% if(typeof addressList!=='undefined'){ %>
      <% for(let i=0;i<addressList.length;i++){%>
      <div class="address-card-popup" onclick="updateAddressIndex(<%= i %>)">
        <div class="default"><span style="font-size: small; color: rgba(0, 0, 0, 0.626);">Default</span></div>
        <div class="name"><%= addressList[i].name %></div>
        <div class="house"><%= addressList[i].buildingName %>,<%= addressList[i].locality %></div>
        <div class="landmark"> <%= addressList[i].landmark %></div>
        <div class="district"><%= addressList[i].city %>,<%= addressList[i].state %></div>
        <div class="pincode">India-<%= addressList[i].pincode %></div>
        <div><p >Phone:<span class="phone"><%= addressList[i].mobile %></span></p></div>
      </div>
      <%}%>
    <%}%>  
  </div>
  
 <!-- <ADD ADDRESS-============================================--> 
    <div class="add-form-popup" id="addAddres">
        <form action="/user/userProfileAddressList/addAddressFromCheckout" id="addAddresForm" method="post" class="form-container">
          <div class="close-btn">
            <h5>Add New Address</h5>
            <button type="button" class="btn-cancel" onclick="closeaddAddres()"><img src="/images/icons8-cancel-100.png"></button>
          </div>
      
          <label>Name*</label>
          <input type="text" placeholder="Name" name="name" id="name">
          <div id="name-error" class="error-message"></div>
      
          <label>Mobile*</label>
          <input type="text" placeholder="Mobile" name="mobile" id="mobile">
          <div id="mobile-error" class="error-message"></div>
      
          <label>Pin Code*</label>
          <input type="text" placeholder="Pin Code" name="pincode" id="pincode">
          <div id="pincode-error" class="error-message"></div>
      
          <label>Locality/Area/Street*</label>
          <input type="text" placeholder="Locality/Area/Street" name="locality" id="locality">
          <div id="locality-error" class="error-message"></div>
      
          <label>Flat Number/Building Name*</label>
          <input type="text" placeholder="Building name" name="buildingname" id="buildingname">
          <div id="buildingname-error" class="error-message"></div>
      
          <label>Landmark</label>
          <input type="text" placeholder="Landmark" name="landmark" id="landmark">
          <div id="landmark-error" class="error-message"></div>
      
          <label>District/City*</label>
          <input type="text" placeholder="District/City" name="city" id="city">
          <div id="city-error" class="error-message"></div>
      
          <label>State</label>
          <input type="text" placeholder="State" name="state" id="state">
          <div id="state-error" class="error-message"></div>
      
          <label>Address Type</label>
          <div class="addressTypeRadio">
            <input type="radio" name="addressType" value="Home" id="homeRadio">
            <label for="homeRadio">Home</label>
      
            <input type="radio" name="addressType" value="Work" id="workRadio">
            <label for="workRadio">Work</label>
      
            <input type="radio" name="addressType" value="Others" id="othersRadio">
            <label for="othersRadio">Others</label>
          </div>
          <div id="addressType-error" class="error-message"></div>
      
          <button type="submit" class="btn">Save New Address</button>
        </form>
      </div>
      
     <!--====== EDIT ADDRESS =====================-->
   
        
     <div class="form-popup" id="editAddres">
        <form action="/user/home/cart/updateAddress" method="post" class="form-container">
            <div class="close-btn">
                <h5>Edit Address Details</h5> <button type="button" class="btn-cancel"
                    onclick="closeEditAddres()"><img src="/images/icons8-cancel-100.png"></button>
            </div>

            <label>Name*</label>

            <input type="text" id="editName" placeholder="" name="name">

            <label>Mobile*</label>

            <input type="text" id="editMobile" name="mobile">

            <label>Pin Code*</label>

            <input type="text" id="editPincode" name="pincode">

            <label>Locality/Area/Street*</label>

            <input type="text" id="editLocality" name="locality">

            <label>Flat Number/Building Name*</label>

            <input type="text" id="editBuildingName" name="buildingname">

            <label>landmark</label>

            <input type="text" id="editLandmark" name="landmark">

            <label>District/City*</label>

            <input type="text" id="editCity" name="city">

            <label>State</label>

            <input type="text" id="editState" name="state">

            <label>Adress Type</label>

            <div class="addressTypeRadio">
                <input type="radio" name="addressType" value="Home" id="homeRadio">
                <label for="homeRadio">Home</label>

                <input type="radio" name="addressType" value="Work" id="workRadio">
                <label for="workRadio">Work</label>

                <input type="radio" name="addressType" value="Others" id="othersRadio">
                <label for="othersRadio">Others</label>


            </div>

            <input type="hidden" id="addressId" name="id">
            <button type="submit" class="btn">Save</button>

        </form>
    </div>
    










<script src="/javascript/addressSelect.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>