<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin-categories.css">

</head>
<body>
    <div class="admin-panel">
        <div class="sidebar">
            <div class="sidebar-header">
                <a class="admin-logo" href="/admin">Admin Panel</a>
            </div>
            <ul class="sidebar-menu">
                <li class="menu-item ">
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="/admin/listProducts">Products</a>
                </li>
                <li class="menu-item active">
                    <a href="/admin/categories">Categories</a>
                </li>
                <li class="menu-item">
                    <a href="/admin/orders">Orders</a>
                </li>
                <li class="menu-item">
                    <a href="/admin/coupons">Coupons</a>
                </li>
                <li class="menu-item ">
                    <a href="/admin/listUsers ">Customers</a>
                </li>
                <li class="menu-item">
                    <a href="/admin/banners">Banners</a>
                </li>
            </ul>
        </div>
        <div class="content">
          <div>
                <div class="container">
                  <div class="navbar">
                    
                     <a style=color:white href="/admin/addCategory"> <button class="add-category-btn">Add Category</button></a>
                     <a style=color:white href="/admin/logout"> <button class="add-category-btn">Logout</button></a>
                     
                    </div>
                  </div>
                </div>
              </nav>
       
            <main>
                <div class="container">
                  
                  <table class="user-table">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Category Name</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <%
                      if (typeof categories !== 'undefined' && categories.length > 0) {
                        for (let i = 0; i < categories.length; i++) {
                          %>
                          <tr>
                            <td><%= [i+1] %></td>
                            <td><%= categories[i].category %></td>
                            <td><%= categories[i].status %></td>
                           <td>
                            
                             <a href="/admin/editCategory?id=<%=categories[i]._id %>"><button type="submit" class="category-btn-edit">Edit</button></a>
                            </form>
                            
                          </td> 
                           <td>
                            <a href="/admin/deleteCategory?id=<%=categories[i]._id %>"><button type="submit" class="category-btn-edit">Delete</button></a>
                        
                          </td>
                            
                            
                            
                          </tr>
                          <%
                        }
                      } else {
                        %>
                        <tr>
                          <td colspan="4">Categories not found</td>
                        </tr>
                        <%
                      }
                      %>
                    </tbody>
                  </table>
                </div>
              </main>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
