<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Orders List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/listProducts.css">
    <link rel="stylesheet" href="/css/orderDetails.css">
    <link rel="stylesheet" href="/css1/style.css" type="text/css">
    <link rel="stylesheet" href="/css1/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css1/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css1/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/slicknav.min.css" type="text/css">
    <style>
        h1 {
            color: #369beee5;
            /* Blue color */
            font-size: 36px;
            /* Adjust the font size as needed */
            font-weight: bold;
            /* Make the text bold */
            text-align: left;
            /* Center align the text */
            margin-top: 30px;
            margin-left: 20px;
            /* Add some top margin for spacing */
            text-transform: uppercase;
            /* Convert text to uppercase */
            letter-spacing: 2px;
            /* Increase letter spacing */
        }

        .list-group-item.active {
            background-color: #369beee5;
            /* Light blue color */
        }

        .list-group-item {
            text-align: center;
            /* Center align the text */
            min-width: 50;
            /* Allow text to overflow if necessary */
            white-space: nowrap;
            /* Prevent text from wrapping */
        }

        /* .list-group {
    display: flex;
    flex-direction: row; /* Display items in a row */


        */
    </style>


</head>

<body>
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/home?For=Women">Women’s</a></li>
                            <li><a href="/home?For=Men">Men’s</a></li>
                            <li><a href="/home?For=Kids">Kid's</a></li>
                            <li><a href="#">My Account</a>
                                <ul class="dropdown">
                                    <li><a href="/user/profile">Dashboard</a></li>
                                    <li><a href="/user/profileAddressList">Addresses</a></li>
                                    <li><a href="/user/profileOrders">Orders</a></li>
                                    <li><a href="/user/wallet">Wallet</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">

                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/home/wishlist"><span class="icon_heart_alt"></span>

                                </a></li>
                            <li><a href="/home/cart"><span class="icon_bag_alt"></span>

                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    <h1> YOUR ACCOUNT</h1>

    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action " data-tab="account" id="list-accountdetails-list"
                    data-toggle="list" href="/user/profile" role="tab" aria-controls="home">Account details</a>
                <a class="list-group-item list-group-item-action" data-tab="addresses" id="list-Addresses-list"
                    data-toggle="list" href="/user/profileAddressList" role="tab"
                    aria-controls="Addresses">Addresses</a>
                <a class="list-group-item list-group-item-action active" data-tab="orders" id="list-Orders-list"
                    data-toggle="list" href="/user/profileOrders" role="tab" aria-controls="Orders">Orders</a>
                <a class="list-group-item list-group-item-action" data-tab="orders" id="list-Orders-list"
                    data-toggle="list" href="/user/wallet" role="tab" aria-controls="Orders">Wallet</a>
                <a class="list-group-item list-group-item-action" data-tab="logout" id="list-settings-list"
                    data-toggle="list" href="/user/logout" role="tab" aria-controls="settings">LogOut</a>
            </div>


        </div>






        <div class="col-md-6 cart-card">
            <div class="title">
                <div class="row">
                    <div class="col">

                    </div>
                    <% if (typeof order !=='undefined' && order.cart.length !==0) { %>
                        <div class="col align-self-center text-right text-muted">
                            <!-- Some content here -->
                        </div>

                </div>
            </div>
            <% let totalPrice=0; %>
                <% let totalSalePrice=0; %>
                    <% let totalQuantity=0; %>
                        <div class="col cancelOrder">
                            <a href="/user/order/downloadInvoice?orderId=<%= order.orderId %>">Download
                                Invoice</a>
                        </div>
                        <% for (let i=0; i < order.cart.length; i++) { %>
                            <% totalPrice +=order.cart[i].price * order.cart[i].quantity; %>
                                <% totalSalePrice +=order.cart[i].broughtPrice * order.cart[i].quantity; %>
                                    <% totalQuantity+=order.cart[i].quantity %>

                                        <div class="row  border-bottom mt-3">
                                            <div class="row main align-items-center">
                                                <% if (order.cart[i].status==="Cancelled" ) { %>
                                                    <div class="row  status" style="color: rgba(194, 14, 14, 0.648);">
                                                        <%= order.cart[i].status %>
                                                    </div>
                                                    <% } else { %>
                                                        <div class="row text-muted status">
                                                            <%= order.cart[i].status %>
                                                        </div>
                                                        <% } %>
                                                            <div class="col-2">
                                                                <a
                                                                    href="/home/singleProduct?id=<%= order.cart[i].product._id %>"><img
                                                                        class="img-fluid image"
                                                                        src="data:<%= order.cart[i].product.images[0].contentType %>;base64,<%= order.cart[i].product.images[0].data.toString('base64') %>"
                                                                        alt="Product Image"></a>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row text-muted description">
                                                                    <%= order.cart[i].product.title %>-
                                                                        <%= order.cart[i].product.description %>
                                                                </div>
                                                                <div class="price">&#8377;<b>
                                                                        <%= order.cart[i].broughtPrice%>
                                                                    </b> </div>
                                                                <div class="size">Qty:<span style="font-weight: bold;">
                                                                        <%= order.cart[i].quantity %>
                                                                    </span></div>
                                                                <div class="estimatedDelivery">Estimated
                                                                    Delivery Tue,08 Aug</div>
                                                            </div>

                                                            <div class="col cancelOrder">
                                                                <% if (order.cart[i].status==="Cancelled" ) { %>
                                                                    <div class="row "></div>
                                                                    <% } else if(order.paymentMode=="Cash on Delivery" )
                                                                        { %>
                                                                        <form class="cancelCOD" id="cancelCOD"
                                                                            method="post"
                                                                            action="/user/profileOrderDetails/cancelCodOrder">
                                                                            <input type="hidden"
                                                                                value="<%= order.cart[i]._id%>"
                                                                                name="cartId">
                                                                            <input type="hidden"
                                                                                value="<%=order.orderId %>"
                                                                                name="orderId">
                                                                            <button class="cancelButton" type="submit"
                                                                                onclick="">Cancel
                                                                                Order</button>
                                                                        </form>
                                                                        <%} else if(order.paymentMode=="Wallet" ) {%>

                                                                            <form class="cancelCOD" id="cancelCOD"
                                                                                method="post"
                                                                                action="/user/profileOrderDetails/cancelWalletOrder">
                                                                                action="/user/profileOrderDetails/cancelCodOrder">
                                                                                <input type="hidden"
                                                                                    value="<%= order.cart[i]._id%>"
                                                                                    name="cartId">
                                                                                <input type="hidden"
                                                                                    value="<%=order.orderId %>"
                                                                                    name="orderId">
                                                                                <button class="cancelButton"
                                                                                    type="submit" onclick="">Cancel
                                                                                    Order</button>
                                                                            </form>
                                                                            <%}else { %>
                                                                            <%} else if(order.paymentMode=="Wallet" )
                                                                                {%>

                                                                                <form class="cancelCOD" id="cancelCOD"
                                                                                    method="post"
                                                                                    action="/user/profileOrderDetails/cancelWalletOrder">
                                                                                    <input type="hidden"
                                                                                        value="<%= order.cart[i]._id%>"
                                                                                        name="cartId">
                                                                                    <input type="hidden"
                                                                                        value="<%=order.orderId %>"
                                                                                        name="orderId">
                                                                                    <button class="cancelButton"
                                                                                        type="submit" onclick="">Cancel
                                                                                        Order</button>
                                                                                </form>
                                                                                <%}else { %>


                                                                                <a onclick="openCancelOrder()">Cancel
                                                                                    Order</a>
                                                                                <% } %>

                                                            </div>

                                            </div>
                                        </div>

                                        <% } %>



        </div>


        <div class="col-lg-3">
            <div class="rightDivTop">
                <div class="summary">
                    <div class="mt-2">Order# <%= order.orderId %>
                    </div>
                    <div class="mt-2">Order Placed On <%= (new Date(order.createdAt)).toLocaleDateString('en-US', {
                            year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                    </div>
                    <div class="mt-2">Paid by <%= order.paymentMode %>
                    </div>
                </div>
            </div>
            <div class="rightDiv">

                <div class="summary">
                    <% if (typeof totalPrice !=='undefined' && typeof totalSalePrice !=='undefined' ) { %>
                        <div class="mt-2">
                            <h6><b>Order Details</b></h6>
                        </div>
                        <div class="row mt-3">
                            <div class="col">No of items</div>
                            <div class="col text-right">
                                <%= totalQuantity %>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">Bag Total</div>
                            <div class="col text-right">&#8377; <%= totalPrice %>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">Bag Discount</div>
                            <div class="col text-right">&#8377;<%= totalPrice - totalSalePrice %>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">Coupon Saving </div>
                            <div class="col text-right">&#8377;<%= order.couponSaving %>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">Delivery Fee</div>
                            <div class="col text-right">&#8377;<span style="text-decoration: line-through;">99
                                </span><span style="color: green;font-weight: 600;">Free</span></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">Order Total</div>
                            <div class="col text-right">&#8377; <%= order.broughtPrice %>
                            </div>
                        </div>
                        <% } else { %>
                            <div>Empty</div>
                            <% } %>
                </div>
            </div>


            <div class="address-card">
                <h6 style="color: rgba(0, 0, 0, 0.599);"><b>Deliver to</b></h6>
                <div class="name">
                    <%= order.shippingAddress.name %>
                </div>
                <div class="house">
                    <%= order.shippingAddress.buildingName %>,<%= order.shippingAddress.locality %>
                </div>
                <div class="landmark">
                    <%= order.shippingAddress.landmark %>
                </div>
                <div class="district">
                    <%= order.shippingAddress.city %>,<%= order.shippingAddress.state %>
                </div>
                <div class="pincode">India-<%= order.shippingAddress.pincode %>
                </div>
                <div>
                    <p>Phone:<span class="phone">
                            <%= order.shippingAddress.mobile %>
                        </span></p>
                </div>
            </div>




        </div>

    </div>

    <div class="overlay" id="overlay"></div>


    <div id="cancelOrderPopupCod" class="cancelOrderPopup">
        <div>
            <p>Are you sure that you want to cancel this Order?</p>
        </div>

        <div class="buttons">
            <button type="button" id="b2" onclick="closeCancelOrderCod()">Close</button>
            <button type="submit" onclick="submitCancelCODForm()" id="b1">Yes,I'm Sure</button>
        </div>

    </div>







    <div id="cancelOrderPopup" class="cancelOrderPopup">
        <div>
            <p>Are you sure that you want to cancel this Order?</p>
        </div>

        <div class="buttons">
            <button type="button" id="b2" onclick="closeCancelOrder()">Close</button>
            <button type="button" id="b1" onclick="openmodeOfRefundPopup()">Yes,I'm Sure</button>
        </div>

    </div>


    <div id="modeOfRefundPopup" class="modeOfRefundPopup">
        <div style="text-align: left;padding-left: 10px;margin-top: 20px;">
            <p style="font-size: 18px;">How would you like to get the Refund?</p>
        </div>
        <form class="refundform" method="post" action="/user/profileOrderDetails/cancelOrder">
            <div><input type="radio" value="wallet" name="refundMode"> <label>Warning Clothing Wallet</label>
                <div></div><input type="radio" value="original" name="refundMode"> <label>Original Payment
                    Method</label>
            </div>
            <input type="hidden" name="orderId" value="<%= order.orderId %>">

            <div class="buttons">
                <button type="button" id="b2" onclick="closemodeOfRefundPopup()">Close</button>
                <button type="submit" id="b1">Proceed</button>
            </div>
        </form>
    </div>




    <% } %>
        </div>
        <script src="/javascript/cancelOrder.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</body>

</html>